@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: Segoe UI, sans-serif;
}

body {
    background: url("../rsc/stripes.png") center top repeat-y #e8592a;
    width: 100%;
}

#page {
    width: 800px;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    background: white;
    padding: 0;
    
    border: thin rgba(0,0,0,0.5) solid;
    border-top: none;
    border-bottom: none;
}

div.top {
    width: 100%;
    margin: 0;
}

#header {
    background-image: url("../rsc/header.png");
    width: 800px;
    height: 120px;
}

#navbar {
    border: thin rgba(0,0,0,0.5) solid;
    border-left: none;
    border-right: none;
    
    margin: 2pt 0;
    
    background: rgb(138,203,252);
    background: -moz-linear-gradient(top,  rgba(138,203,252,1) 0%, rgba(102,182,252,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,203,252,1)), color-stop(100%,rgba(102,182,252,1)));
    background: -webkit-linear-gradient(top,  rgba(138,203,252,1) 0%,rgba(102,182,252,1) 100%);
    background: -o-linear-gradient(top,  rgba(138,203,252,1) 0%,rgba(102,182,252,1) 100%);
    background: -ms-linear-gradient(top,  rgba(138,203,252,1) 0%,rgba(102,182,252,1) 100%);
    background: linear-gradient(to bottom,  rgba(138,203,252,1) 0%,rgba(102,182,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acbfc', endColorstr='#66b6fc',GradientType=0 );

    text-align: center;
    
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

#navbar a {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding: 4pt 1em;
    margin: 0;
}

#navbar a:link, #navbar a:visited {
    background-color: none;
    transition: 0.2s;
    color: #111;
}

#navbar a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.2s;
    color: #222;
}

#navbar a:active {
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

#content {
    width: 750px;
    margin: 0 auto;
    padding-top: 20pt;
}

#content h1 {
    text-align: center;
    width: 100%;
    background: 
}

#content a, #content a:link, #content a:visited {
    color: black;
    border-bottom: black thin dotted;
}

#content a:hover {
    color: #666;
}

#content a:active {
    color: red;
}

a.close {
    border-bottom: none !important;
    color: black !important;
}

.columns {
    width: 100%;
}

.columns:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.columns * {
    display: inline-block;
    float: left;
    text-align: center;
}

.three-columns * {
    width: 29%;
    margin: 0 1.66%;
    margin-bottom: 1em;
}

/* for modal elements (courses, portfolios) */
.modal {
    width: 90%;
    margin-left: 5%;
    border-radius: 8pt;
    border: thin black solid;
    margin-bottom: 1em;
    
    background-color: white;
    transition: 0.2s;
    box-shadow: 0 0 20pt rgba(41,184,232,0.35) inset;
}
.modal:hover {
    transition: 0.2s;
    box-shadow: 0 0 20pt rgba(232,89,42,0.65) inset;
}
.modal > a:first-child { 
    color: black !important;
}
.modal h2 {
    margin: 0;
    padding: 4pt 4pt 4pt 8pt;
}
.modal-info {
    background: rgba(255, 255, 255, 0.5);
    display: none;
    border-top: thin black solid; 
    padding: 0;
}
.modal-info > * {
    margin-left: 20pt;
    margin-right: 20pt;
}
.modal-info:target {
    display: block;
}
.modal-info a.close {
    margin: 0;
    display: inline-block;
    width: 100%;
    color: black;
    border-top: thin black solid;
    padding: 2pt 0;
    border-radius: 0 0 8pt 8pt;
    text-align: center;
}
.modal-info a.close:hover  {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.05);
}
.modal-info a.close:active {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.2);
}

