@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: Segoe UI, sans-serif;
}

body {
    background-color: #e8592a;
    width: 100%;
}

#page {
    width: 800px;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    background: white;
    padding: 0;
    
    border: thin rgba(0,0,0,0.5) solid;
    border-top: none;
    border-bottom: none;
}

div.top {
    width: 100%;
    margin: 0;
}

#header {
    background-image: url("../rsc/header.png");
    width: 800px;
    height: 120px;
}

#navbar {
    border: thin rgba(0,0,0,0.5) solid;
    border-left: none;
    border-right: none;
    
    margin: 2pt 0;
    background-color: #29b8e8;
    text-align: center;
    
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

#navbar a {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding: 4pt 1em;
    margin: 0;
}

#navbar a:link, #navbar a:visited {
    background-color: none;
    transition: 0.2s;
    color: #111;
}

#navbar a:hover {
    background-color: #1ba2cf;
    transition: 0.2s;
    color: #222;
}

#navbar a:active {
    background-color: #1a94bc;
    transition: 0.2s;
}

#content {
    width: 750px;
    margin: 0 auto;
    padding-top: 20pt;
}

#content h1 {
    text-align: center;
}

#content a {
    color: black;
    border-bottom: black thin dotted;
}

#content a:hover {
    color: #666;
}

#content a:active {
    color: red;
}

a.close {
    border-bottom: none !important;
    color: black !important;
}

.columns {
    width: 100%;
}

.columns:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.columns * {
    display: inline-block;
    float: left;
    text-align: center;
}

.three-columns * {
    width: 29%;
    margin: 0 1.66%;
    margin-bottom: 1em;
}
